<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Coloc List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Coloc List</h1>
<a href="addColoc">Add Coloc</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Pseudo</th>
            <th>Password </th>
            <th>Tag</th>
        </tr>
        <tr th:each ="coloc : ${colocList}">
            <td th:utext="${coloc.pseudo}">...</td>
            <td th:utext="${coloc.password}">...</td>
            <td th:utext="${coloc.tag}">...</td>
        </tr>
    </table>
</div>
</body>
</html>
